* {
    z-index: 0;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-height: 100%
}

body {
    background: #A27035;
}

.sidebar {
    position: fixed;
    z-index: 2;
    width: 0%;
    height: 100%;
    background: #96ACB7;
    overflow: hidden;
    transition-duration: 250ms;
    /*display: none;*/
}

.sidebar .header {
    background: transparent;
    display: flex;
    align-items: center;
    position: initial;
}

.sidebar .header a {
    margin-left: 20px;
}

.sidebar .body ul {
    margin-left: 5%;
    list-style: none;
}

.sidebar .body li {
    margin-bottom: 5px;
}

.sidebar .body li a {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}

.sidebar .body li ul li a {
    font-size: 20px;
}

.sidebar .body li ul {
    max-height: 0px;
    overflow: hidden;
    transition-duration: 250ms;
    /*transition: max-height 150ms ease-out;*/
}

.sidebar .body li .linea {
    border-bottom: 1px solid #DDCA7D;
    width: 95%;
    margin-bottom: 5px;
}

.header {
    z-index: 1;
    background: #533E2D;
    width: 100%;
    height: 100px;
    display: flex;
    position: fixed;
    top: 0;
}

.header .button {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
}

.header .button a {
    margin-left: 20px;
}

.header .menu {
    width: 95%;
    height: 100%;
}

.header .menu p {
    width: 100%;
    font-size: 40px;
    color: #fff;
    text-align: center;
    margin: 10px 0;
}

.header .menu ul {
    display: flex;
    justify-content: space-between;
}

.header .menu li {
    flex-basis: 25%;
    text-align: center;
    list-style: none;
}

.header .menu li a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.espacio {
    width: 100%;
    height: 100px;
}

.cuerpo {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.cuerpo .formulario {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition-duration: 250ms;
}

.cuerpo .formulario form {
    margin-top: 10px;
    width: 80%;
    text-align: center;
}

.cuerpo .formulario form .texto {
    margin-bottom: 10px;
    width: 100%;
    font-size: 15px;
    border-radius: 5px;
}

.cuerpo .formulario form textarea {
    margin-bottom: 10px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100px;
    min-height: 100px;
    max-height: 300px;
    font-size: 15px;
    border-radius: 5px;
}

.cuerpo .formulario form .respuesta {
    width: 100%;
    max-width: 100px;
    border-radius: 10px;
    background: #FFD131;
    color: #fff;
    border: 1px solid #000;
    font-size: 15px;
}

.cuerpo .formulario form .mapaContenedor {
    margin: 10px 0;
    width: 100%;
    height: 300px;
}

.cuerpo .formulario form .mapaContenedor .maps {
    width: 100%;
    height: 100%;
}

.cuerpo .flex {
    width: 100%;
    display: flex;
    justify-content: center;
    display: none;
}

.cuerpo .flex .boton {
    margin: 15px auto;
    width: 80%;
    border-radius: 10px;
    background: #FFD131;
    color: #fff;
    border: 1px solid #000;
    font-size: 15px;
    height: 30px;
}

.cuerpo .noticia {
    margin-top: 20px;
    width: 100%;
    background: #DDCA7D;
    border: 1px solid #000;
    border-radius: 10px;
}

.cuerpo .noticia .nombre {
    color: #A3A3A3;
    font-size: 12px;
    margin: 5px;
}

.cuerpo .noticia .original .titulo {
    color: #fff;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.cuerpo .noticia .original .mapaContenedor {
    margin: 10px 5%;
    width: 90%;
    height: 300px;
}

.cuerpo .noticia .original .mapaContenedor .maps {
    width: 100%;
    height: 100%;
}

.cuerpo .noticia .original .contenido {
    color: #fff;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 10px 5%;
    text-align: center;
}

.cuerpo .noticia .fecha {
    color: #A3A3A3;
    font-size: 12px;
    margin: 5px;
    text-align: right;
}


@media only screen and (max-width: 600px) {
    .sidebar .body ul {
        margin-left: 8%;
    }

    .sidebar .body li .linea {
        width: 92%;
    }

    .sidebar .body li a {
        font-size: 16px;
    }

    .sidebar .body li ul li a {
        font-size: 12px;
    }

    .header, .espacio {
        height: 80px;
    }

    .header a img {
        width: 40px;
        height: 40px;
    }

    .header .menu {
        display: flex;
        align-items: center;
    }

    .header .menu p {
        margin: 0px;
    }

    .header .menu li {
        display: none;
    }

    .cuerpo .formulario {
        max-height: 0px;
    }

    .cuerpo .flex {
        display: flex;
    }

}

@media only screen and (max-width: 1000px) {
    ::-webkit-scrollbar {
        display: none;
    }
    
    .header .button {
        width: 20%;
    }

    .header .menu {
        width: 80%;
    }
}